@model TopBusToursLondon_Model.Models.ContactInformation
@{
    ViewData["Title"] = "Contact Us";
}

<!--Contact Us Main Heading-->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-12 p-4 m-4 mx-auto" align="center">
                <h1 class="text-capitalize font-weight-bold"><span style="color: #9B5DE5">Contact</span> Us</h1>
                <p class="text-black text-center mt-2 mb-4 pb-xl-3 mb-sm-5">We are London based company having offices in Dubai, London, Netherland, India and Pakistan.</p>
            </div>
        </div>
    </div>
</div>
<!--Contact Us Content-->
<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <ul class="row list-unstyled text-left mb-lg-5 pt-4">
                <li class="col-lg-4 mb-5 mb-lg-0">
                    <div class="row">
                        <div class="col-2 text-center text-sm-left text-lg-center">
                            <span class="fa fa-map-marker" style="color:#9b5de5"></span>
                        </div>
                        <div class="col-10 text-left text-sm-center">
                            <h6 class="font-weight-bold text-left text-primary">Head Office</h6>
                            <p class="text-left">
                                <b>Victoria</b>
                                Top Bus Tours London outside national rail Victoria Station terminus place sw1v 1jr
                            </p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-4 mb-5 mb-lg-0">
                    <div class="row">
                        <div class="col-2 text-center text-sm-left text-lg-center">
                            <span class="fa fa-envelope-o" style="color:#9b5de5"></span>
                        </div>
                        <div class="col-10 text-left text-sm-center">
                            <h6 class="font-weight-bold text-left text-primary">Email Address</h6>
                            <p class="text-left">
                                <a style="color: #506172;" href="mailto:ask@topbustourslondon.com">ask@topbustourslondon.com</a>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-4 mb-5 mb-lg-0">
                    <div class="row">
                        <div class="col-2 text-center text-sm-left text-lg-center">
                            <span class="fa fa-phone" style="color:#9b5de5"></span>
                        </div>
                        <div class="col-10 text-left text-sm-center">
                            <h6 class="font-weight-bold text-left text-primary">Phone Number</h6>
                            <p class="text-left">
                                <a style="color: #506172;" href="tel:+ 0044 2080046767"> + 0044 2080046767</a>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--London Visit Centres Heading-->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card border-0">
                <div class="card-header" align="center" style="background-color:#9b5de5">
                    <h5 class="text-white text-capitalize font-weight-bold py-1">London Visitor Centres</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!--London Visit Centres Content-->
<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <ul class="row list-unstyled text-left mb-lg-5 pt-4">
                <li class="col-lg-3 mb-5 mb-lg-0">
                    <div class="row">
                        <div class="col-2 text-center text-sm-left text-lg-center">
                            <span class="fa fa-map-marker" style="color:#9b5de5"></span>
                        </div>
                        <div class="col-10 text-left text-sm-center">
                            <h6 class="font-weight-bold text-left text-primary">Paddington</h6>
                            <p class="text-left">
                                46 R Gloucester terrce London. W2 3hh
                            </p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 mb-5 mb-lg-0">
                    <div class="row">
                        <div class="col-2 text-center text-sm-left text-lg-center">
                            <span class="fa fa-map-marker" style="color:#9b5de5"></span>
                        </div>
                        <div class="col-10 text-left text-sm-center">
                            <h6 class="font-weight-bold text-left text-primary">Paddington</h6>
                            <p class="text-left">
                                191 pread street London w2 1rh
                            </p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 mb-5 mb-lg-0">
                    <div class="row">
                        <div class="col-2 text-center text-sm-left text-lg-center">
                            <span class="fa fa-map-marker" style="color:#9b5de5"></span>
                        </div>
                        <div class="col-10 text-left text-sm-center">
                            <h6 class="font-weight-bold text-left text-primary">Russel Square</h6>
                            <p class="text-left">
                                Opposite HSBC Bank north corner
                            </p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 mb-5 mb-lg-0">
                    <div class="row">
                        <div class="col-2 text-center text-sm-left text-lg-center">
                            <span class="fa fa-map-marker" style="color:#9b5de5"></span>
                        </div>
                        <div class="col-10 text-left text-sm-center">
                            <h6 class="font-weight-bold text-left text-primary">Westminster Bridge</h6>
                            <p class="text-left">
                                On Westminster bridge front of county hall
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--Get in Touch-->
<div class="container" style="background: #DA4453; /* fallback for old browsers */ background: -webkit-linear-gradient(to right, #89216B, #DA4453); /* Chrome 10-25, Safari 5.1-6 */ background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ ">
    <div class="row">
        <div class="p-5 m-5 border bg-dark w-100">
            <div align="center">
                <h2 class="font-weight-bold text-white">Contact Us</h2>
            </div>
            <br />
            <div class="col-md-12">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="row justify-content-center">
                        <div class="col-md-2">

                        </div>

                        @Html.LabelFor(model => model.FromName, htmlAttributes: new { @class = "col-md-2 control-label text-white float-left" })

                        <div class="col-md-6">
                            @Html.EditorFor(model => model.FromName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your name" } })
                            @Html.ValidationMessageFor(model => model.FromName, "", new { @class = "text-warning" })
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                    <br />
                    <div class="row justify-content-center">
                        <div class="col-md-2">

                        </div>

                        @Html.LabelFor(model => model.FromEmail, htmlAttributes: new { @class = "col-md-2 control-label text-white float-left" })

                        <div class="col-md-6">
                            @Html.EditorFor(model => model.FromEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter email" } })
                            @Html.ValidationMessageFor(model => model.FromEmail, "", new { @class = "text-warning" })
                            <small class="form-text text-muted" style="color:#fff !important">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                    <br />
                    <div class="row justify-content-center">
                        <div class="col-md-2">

                        </div>
                        @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "col-md-2 control-label text-white float-left" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control", @placeholder = "Leave a message" } })
                            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-warning" })
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                    <br />
                    <div class="row justify-content-center">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-outline-pink">Submit</button>
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<br />
<br />
